html, body {
    font-family: Verdana, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    height: 100%;
}

.navbar {
    margin: 0;
    border-bottom: 2px white solid;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: xx-large;
    color: white;
    margin: 0;
}

.home-container {
    text-align: center;
    height: 92.64vh;
    display: flex;
    flex-direction: row;
}

.home-container div {
    width: 33.33vw;
}

.home-leftdiv {
    border-right: 2px solid white;
}

.home-rightdiv {
    border-left: 2px solid white;
}

.home-middiv i {
    color:yellow;
    font-size: larger;
}

.home-middiv h4 {
    max-width: 25vw;
    margin: 0 auto;
}

.home-middiv button {
    background-color: transparent;
    font-size: larger;
}

.home-game-controller {
    position: absolute;
    top: -500px;
    left: -200px;
    z-index: 0;
}
