html, body {
    font-family: Verdana, sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    height: 100%;
}

.navbar {
    margin: 0;
    border-bottom: 2px white solid;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    font-size: xx-large;
    color: white;
    margin: 0;
}

.home-container {
    display: flex;
    flex-direction: row;
    height: 92.6vh;
    width: 100vw;
}

.home-container div {
    padding-top: 10px;
    width: 33.333%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.h-left {
    border-right: 2px solid white;
}

.h-right {
    border-left: 2px solid white;
}
